# Xcode
DerivedData/
*.xcuserstate
*.xcuserdata
*.xcscmblueprint
*.moved-aside
*.xcuserdatad
*.swp
*.lock
*.DS_Store

# SwiftPM
.build/

# User-specific
*.orig
*.swp
*.swo

# Logs
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes 